{% if resource_set %}
  {% if debug %}
    {% for resources in resource_set %}
      {% for resource in resources %}
        <link rel="stylesheet" type="text/css" href="{{ resource }}" />
      {% endfor %}
    {% endfor %}
  {% else %}
<script>
  var wesumo_options = {
    'api_key': '{{ api_key }}',
    {% if smash_domain %}
      'smash_domain': '{{ smash_domain }}',
    {% endif %}
    'autoload': false,
    'resources': [
      {% for resources in resource_set %}
        [
        {% for resource in resources %}
          '{{ resource|escapejs }}'{% if not forloop.last %},{% endif %}
        {% endfor %}
        ]{% if not forloop.last %},{% endif %}
      {% endfor %}
    ]
  };
</script>
<script src="//s.wesumo.com/client/wesumo.js"></script>
<script>document.write(WeSumoClient.css_tags())</script>
  {% endif %}
{% endif %}

