{% if resource_set %}
  {% if not debug %}
    {% for resources in resource_set %}
      {% for resource in resources %}
        <script src="{{ resource }}"></script>
      {% endfor %}
    {% endfor %}
  {% else %}
    <script>
      var sts_options = {
        'api_key': '{{ api_key }}',
        'resources': [
          {% for resources in resource_set %}
            [
            {% for resource in resources %}
              '{{ resource|escapejs }}'{% if not forloop.last %},{% endif %}
            {% endfor %}
            ]{% if not forloop.last %},{% endif %}
          {% endfor %}
        ]
      };
    </script>
    <script>
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = "//s.wesumo.com/client/sts.js";
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
  {% endif %}
{% endif %}
