{% load smashed %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="{% spaceless %}{% block x-ua-compatible %}IE=edge,chrome=1{% endblock %}{% endspaceless %}">
        <title>{% spaceless %}{% block title %}{% endblock %}{% endspaceless %}</title>
        
        {% block meta %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- styles -->
        {% block styles %}
            {% smash_local_style "css/style.css?v=2" %}
            {% smash_remote_style "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" %}
        {% endblock %}

        {% smash_render_styles %}
        
        <style type="text/css"> 
            body {
                padding-top: 60px;
            }
        </style>

        <!-- touch icons -->
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        
        {# Add default scripts that will show up on every site #}
        {% block scripts %}
            {% smash_remote_script "//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" %}
            {% smash_remote_script "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" %}
        {% endblock %}

        {# Render the wesumo smash client script tag #}
        {% smash_render_scripts %}

        {% block closing-head %}{% endblock %}
    </head>
    <body>
        <header class="topbar">
          {% block header %}{% endblock %}
        </header>
        <div class="container">
            {% block content %}{% endblock %}

            <footer>
              {% block footer %}{% endblock %}
            </footer>
        </div> <!-- /container -->
        
        <script>
            var _gaq=[["_setAccount","{{ GOOGLE_ANALYTICS_ID }}"]];
            {% block google-analytics-config %}
              _gaq.push(["_trackPageview"]);
            {% endblock %}
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
            g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
            s.parentNode.insertBefore(g,s)}(document,"script"));
        </script>

        {% block closing-body %}{% endblock %}
    </body>
</html>
