{% load smashed %}
<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="{% spaceless %}{% block x-ua-compatible %}IE=edge,chrome=1{% endblock %}{% endspaceless %}">

  <title>{% spaceless %}{% block title %}{% endblock %}{% endspaceless %}</title>

  {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock %}

  <!--
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  -->

  {% block styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v=2">
  {% endblock %}

  {# Add default scripts that will show up on every site #}
  {% block scripts %}
    <script src="//ajax.cdnjs.com/ajax/libs/modernizr/1.7/modernizr-1.7.min.js"></script>
    <script>window.Modernizr || document.write('<script src="{{ STATIC_URL }}js/modernizr-1.7.min.js">\x3C/script>')</script>
    {% smash_remote_script "//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" %}
  {% endblock %}

  {# Render the wesumo smash client script tag #}
  {% smash_render_scripts %}

  {% block closing-head %}{% endblock %}
</head>
<body>
  <div id="container">
    <header>
      {% block header %}{% endblock %}
    </header>
    <div id="main" role="main">
      {% block content %}{% endblock %}
    </div>
    <footer>
      {% block footer %}{% endblock %}
    </footer>
  </div> <!-- eo #container -->

  <!--[if lt IE 7 ]>
    <script src="{{ STATIC_URL }}js/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg");</script>
  <![endif]-->

  <script>
    var _gaq=[["_setAccount","{{ GOOGLE_ANALYTICS_ID }}"]];
    {% block google-analytics-config %}
      _gaq.push(["_trackPageview"]);
    {% endblock %}
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>

  {% block closing-body %}{% endblock %}
</body>
</html>
